/*woshinibaba.css*/
.divs1
{
	width: 100px;
	height: 100px;
	background: pink;
	position:relative;
}
.divs2
{
	width:100px;
	height: 100px;
	background: yellow;
}
.divs3
{
	width:100px;
	height: 100px;
	background: black;
}